.coworking-container {
  width: 100%;
  position: fixed;
  height: 30%;
  z-index: 0;
}

.coworking-map-image {
  width: 100%;
  height: 100%;
  z-index: 0;
}
.btn_Booking:hover {
  box-shadow: inset 4px 4px 8px rgb(2, 2, 2),
    inset 2px 2px 12px rgba(255, 255, 255, 0.5),
    inset -2px -2px 4px rgba(255, 255, 255, 0.1),
    inset -2px -2px 8px rgba(0, 0, 0, 0.15);
  outline: none;
}
.btn_Booking {
  outline: none;
  border-width: 0px;
  background: linear-gradient(0.25turn, #005393, #0071b9);
  border-radius: 10px;
  height: 80px;
  width: 50%;
  text-align: center;
  font-size: 18px;

  color: white;
  box-shadow: 4px 4px 8px rgb(0, 0, 0), 2px 2px 12px rgba(41, 41, 41, 0.5),
    inset -2px -2px 4px rgba(1, 253, 232, 0.1),
    -2px -2px 8px rgba(0, 0, 0, 0.15);
}
