.search-input {
  width: auto;
  flex-grow: 1;
  margin: 30px 0px;
  padding-left: 50px;
  background: url("https://www.flaticon.com/svg/static/icons/svg/54/54481.svg"),
    #fbf7f7;
  background-position: 15px;
  background-repeat: no-repeat;
  background-size: 22px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px #a3a3a3, -5px -5px 10px #ffffff;
}
/* https://www.flaticon.com/svg/static/icons/svg/54/54481.svg" */
