.text p {
  color: rgb(49, 48, 48);
  font-size: 14px;
  font-family: "Source Code Pro", monospace;
}
.text h4 {
  font-family: "Fjalla One", sans-serif;
  color: rgb(0,83,147);
}
.text {
  width: 50%;
  text-align: center;
  padding: 0px 5px;
}
.block {
  width: 100%;
  box-shadow: 5px 5px 10px #bcbcbc, -5px -5px 10px #ffffff;
  margin-bottom: 30px;
  background-color: #fafafa;
  border-radius: 10px;
  height: 120px;
}

