.text p {
  color: rgb(149, 136, 136);
  font-family: "Source Code Pro", monospace;
}
.text h3 {
  font-family: "Fjalla One", sans-serif;
}
.text {
  width: 50%;
  text-align: center;
  padding: 0px 5px;
}
.block {
  box-shadow: 5px 5px 10px #a3a3a3, -5px -5px 10px #ffffff;
  margin-bottom: 30px;
  border-radius: 10px;
  height: 150px;
}
