.info_block {
  background-color: lightgrey;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
  margin-top: -50%;
  height: 80%;
  box-shadow: 5px 5px 10px #a3a3a3, -5px -5px 10px #ffffff;
  border-radius: 10px;
}
